@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    font-family: IBM Plex Mono;
    background-color: black;
    width: 1280px;
    height: 700px;
}

.banner {
    display: fle;
    justify-content: space-between;
    align-items: center;
}

.banner .middle-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 717px;
    height: 18px;
    margin-top: 24px;
    margin-left: 180px;
    gap: 70px;
}

.banner .middle-section ul a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1%;
    color: #9c9c9c; 
}

.banner .right-section {
    width: 107.54px;
    height: 17px;
    margin-top: 26px;
    margin-left: 992px;
}

.banner .right-section img {
    width: 18px;
    height: 17px;
    opacity: 30%;
    color: #ffffff
}