@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
  margin: 0;
  font-family: IBM Plex Mono;
  background-color: black;

}

.container {
  max-width:
  margin: 0 auto;
  padding:
}

.site-header {
  background: rgba(49, 50, 51, 0.9);
  padding:
  border-bottom: 1px solid #222;
  margin-left: 85px;
  margin-right: 85px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent);
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 70px;
  list-style: none;
  padding-left: 95px;
  color: rgb(111, 107, 107);
  padding-top: 26px;
  padding-bottom: 27px;
} 

.social-icons {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-left: 95px;
  padding-bottom: 27px;
  padding-top: 26px;
  padding-right: 95.46px;
  margin: 0;
}

.nav-links a,.social-icons a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
}

.hero {
  display: flex;
  align-items: center;
  padding: var(--spacing) 0;
  gap: 35px;
  margin-left: 180px;
  margin-top: 180px;
  margin-bottom: 252px;
  margin-right: 562px;
}

.hero-text {
  flow: vertical-align;
  width: 538px;
  height: 247px;
  
  margin-top: ;
}

.hero-text h1 {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 1rem;
  color: white;
}

.hero-text p {
  color: var(--muted);
  margin-bottom: 1.5rem;
  color: rgb(72, 70, 70);
  width: 492px;
  height: 72px;
}

.btn-primary {
  background-color: green;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.hero-image {
  display: flex;
  margin-right:180px;

}

.hero-image img {
  width: 350px;
  height: 350px;
  margin-top: ;
  margin-right:;
}

.clients {
  padding: var(--spacing) 0;
  
}

.clients h2 {
  margin-left: 180px;
  margin-bottom: 20px;
  margin-top: 109px;
  color: white;
  font-size: 14px;
  font-weight: 400px;
  font-style: regular;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.client-logos {
  display: flex;
  justify-content: center;
  width: 920px;
  height: 60px;
  margin-top: 20px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 45px;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  
}

.client-logos img {
  width: 160px;
  height: 60px;
  border: 1px;
  opacity: 0.8;
}