@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    font-family: IBM Plex Mono;
    background-color: black;
    width:1280px;
    height:700px;
    margin: auto; 
}

.container {
  max-width:
  margin: 0 auto;
  padding:
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.banner {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    background-color:#1b1b1b;
    height: 70px;
    width: 1110px;
    padding-left:;
    margin-left: 85px;
    margin-right: 85px;
}

.nav-container ul{
    display: flex;
    justify-content:center;
    align-items:;
    list-style: none;
    padding-top: 24px;
    padding-left:95px;
    padding-right:298px;
    padding-bottom: 28px;
    gap: 70px;
    color:black
}

.banner .nav-links ul a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1%;
    color: #9c9c9c; 
}

.social-media-icons{
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 107.54px;
    height: 17px;
    padding-top: 0px; 
    padding-left: 900p;
    padding-right: 270p;
    padding-bottom:28p;
    margin-left:95p;
}

.social-media-icons a {
    width: 18px;
    height: 17px;
    color: white;
}

.client-logos{
    display: flex;
    justify-content:center;
    gap: 30px;
    margin-top: 595px;
    margin-bottom: 45px;
    margin-left: 180px;
    margin-right: 180px;

}

h2 {
    color: white;
}

.client-logos .logo-1 {
    width: 160px;
    height: 60px;
}

.client-logos .logo-2 {
    width: 160px;
    height: 60px;
}

.client-logos .logo-3 {
    width: 160px;
    height: 60px;
}

.client-logos .logo-4 {
    width: 160px;
    height: 60px;
}

.client-logos .logo-5 {
    width: 160px;
    height: 60px;
}

.worked-with {
    width: 93px;
    height: 18px;
    gap: 10px;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    margin-right: 1007px;
    margin-left: 180px;
    margin-top: 557px;

}

.worked-with p{
    color: #ffffff;
    font-weight: 400px;
    font-style: regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align:
}